{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}

<ul class="site-nav site-navigation small--hide">
  {%- for link in main_menu.links limit: limit offset: offset -%}
    {%- liquid
      assign has_dropdown = false
      assign is_megamenu = false
      if link.links != blank
        assign has_dropdown = true
        if link.levels > 1
          assign is_megamenu = true
        endif
      endif
    -%}

    <li class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% if is_megamenu %} site-nav--is-megamenu{% endif %}">
      {% if is_megamenu or has_dropdown %}
        <details
          data-hover="{{ hover_menu }}"
          id="site-nav-item--{{ forloop.index }}"
          class="site-nav__details">
          <summary
            data-link="{{ link.url }}"
            aria-expanded="false"
            aria-controls="site-nav-item--{{ forloop.index }}"
            class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
            {{ link.title }}
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon--wide icon-chevron-down"
              viewBox="0 0 28 16"><path
                d="m1.57 1.59 12.76 12.77L27.1 1.59"
                stroke-width="2"
                stroke="#000"
                fill="none" /></svg>
          </summary>
        {% else %}
          <a href="{{ link.url }}" class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
            {{ link.title }}
          </a>
        {% endif %}
        {%- if is_megamenu -%}
          {%- assign previous_column_type = '' -%}
          {%- assign animation_column = 1 -%}

          <div class="site-nav__dropdown megamenu text-left">
            <div class="page-width">
              <div class="grid{% if dropdown_alignment == 'center' %} grid--center{% endif %}">
                <div class="grid__item medium-up--one-fifth appear-animation appear-delay-{{ animation_column }}">
                  {%- assign animation_column = animation_column | plus: 1 -%}

                  {%- for childlink in link.links -%}
                    {%- liquid
                      assign create_new_column = false

                      if childlink.levels > 0 and forloop.index != 1
                        assign create_new_column = true
                      endif

                      if childlink.levels == 0 and previous_column_type == 'full'
                        assign create_new_column = true
                      endif
                    -%}

                    {%- if create_new_column -%}
                    </div>
                    <div class="grid__item medium-up--one-fifth appear-animation appear-delay-{{ animation_column }}">
                      {%- assign animation_column = animation_column | plus: 1 -%}
                    {%- endif -%}

                    {%- if childlink.levels > 0 and childlink.url contains '/collections/' -%}
                      {%- if collections[childlink.object.handle].image != blank and section.settings.mega_menu_images -%}
                        <a href="{{ childlink.url }}">
                          <div class="svg-mask svg-mask--landscape">
                            {%- render 'image-element'
                              , img: collections[childlink.object.handle].image,
                              sizeVariable: '20vw',
                              alt: collections[childlink.object.handle].title,
                              classes: 'megamenu__collection-image', -%}
                          </div>
                        </a>
                      {%- endif -%}
                    {%- endif -%}

                    <div class="h5">
                      <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--top-level">{{ childlink.title }}</a>
                    </div>

                    {%- liquid
                      if childlink.levels > 0
                        assign previous_column_type = 'full'
                      else
                        assign previous_column_type = 'single'
                      endif
                    -%}

                    {%- for grandchildlink in childlink.links -%}
                      <div>
                        <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
                          {{ grandchildlink.title }}
                        </a>
                      </div>
                    {%- endfor -%}
                  {%- endfor -%}
                </div>
                <div style="width: 5%;"></div>
                <div class="megamenu-images">
                  <div class="megamenu-image megamenu-image-parent">
                    <img class="megamenu-image" src="https://98-fahren.myshopify.com/cdn/shop/files/Shop_the_look.jpg">
                    <div style="width: 201px; height: 41px; position: relative">
                      <div style="left: 0px; top: 0px; position: absolute; color: white; font-size: 34px; font-family: Barlow Condensed; font-weight: 500; text-transform: uppercase; letter-spacing: 0.17px; word-wrap: break-word">MOTO JERSEY</div>
                      <div style="width: 24px; height: 24px; left: 177px; top: 9.50px; position: absolute">
                        <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            viewBox="0 0 25 25"
                            fill="none">
                            <g clip-path="url(#clip0_757_1866)">
                              <path d="M20.5157 4.04536C18.2482 1.77788 15.2347 0.53125 12.0298 0.53125C8.82488 0.53125 5.81138 1.77788 3.5439 4.04536C1.27641 6.31285 0.0297852 9.32634 0.0297852 12.5312C0.0297852 15.7362 1.27641 18.7497 3.5439 21.0171C5.81138 23.2846 8.82488 24.5312 12.0298 24.5312C15.2347 24.5312 18.2482 23.2846 20.5157 21.0171C22.7832 18.7497 24.0298 15.7362 24.0298 12.5312C24.0298 9.32634 22.7832 6.31285 20.5157 4.04536Z" fill="#E9E9E9" />
                              <path d="M11.6174 8.83572C11.3573 8.57559 10.9401 8.57559 10.68 8.83572C10.4198 9.09584 10.4198 9.51302 10.68 9.77314L13.4382 12.5314L10.68 15.2897C10.4198 15.5498 10.4198 15.967 10.68 16.2271C10.8076 16.3547 10.9793 16.4234 11.1462 16.4234C11.3131 16.4234 11.4849 16.3596 11.6125 16.2271L14.837 13.0026C15.0971 12.7425 15.0971 12.3253 14.837 12.0652L11.6174 8.83572Z" fill="#272727" />
                            </g>
                            <defs>
                              <clipPath id="clip0_757_1866">
                                <rect
                                  width="24"
                                  height="24"
                                  fill="white"
                                  transform="translate(0.0297852 0.53125)" />
                              </clipPath>
                            </defs>
                          </svg>
                          <div style="width: 4.55px; height: 7.78px; left: 10.46px; top: 8.11px; position: absolute; background: #272727"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="megamenu-image megamenu-image-parent">
                    <img class="megamenu-image" src="https://98-fahren.myshopify.com/cdn/shop/files/Shop_the_look.jpg">
                  </div>
                  <div class="megamenu-image megamenu-image-parent">
                    <img class="megamenu-image" src="https://98-fahren.myshopify.com/cdn/shop/files/Shop_the_look.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- elsif has_dropdown -%}
          <ul class="site-nav__dropdown text-left">
            {%- for childlink in link.links -%}
              {%- liquid
                assign has_sub_dropdown = false
                if childlink.links != blank
                  assign has_sub_dropdown = true
                endif
              -%}

              <li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
                <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level{% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                  {{ childlink.title | escape }}
                  {%- if has_sub_dropdown -%}
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      role="presentation"
                      class="icon icon--wide icon-chevron-down"
                      viewBox="0 0 28 16"><path
                        d="m1.57 1.59 12.76 12.77L27.1 1.59"
                        stroke-width="2"
                        stroke="#000"
                        fill="none" /></svg>
                  {%- endif -%}
                </a>
                {%- if has_sub_dropdown -%}
                  <ul class="site-nav__deep-dropdown">
                    {%- for grandchildlink in childlink.links -%}
                      <li>
                        <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {% if is_megamenu or has_dropdown %}
        </details>
      {% endif %}
    </li>
  {%- endfor -%}
</ul>